<div class="container">
  <h2>Shortened Links</h2>          
  <table class="table">
    <thead>
      <tr>
        <th>Original Link</th>
        <th>Shortened Link</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @links.map do |link| %>
        <tr id="<%= link.id %>">
          <td><%= link.original_url %></td>
          <td><a href="/<%= link.short_url %>"><%= link.short_url %> </a></td>
          <td>
            <%= button_to(link_path(link),class:'btn btn-primary light-red delete-button remove', remote: true, method: :delete, data: { confirm: 'Are you sure to remove?' }) do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>